<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script> -->
</head>
<body>
    <div id="content">
        <div id="user-input-display">{{ final | safe }}</div>
        <form id="name-form" onsubmit="event.preventDefault(); handleFormSubmit();">
            <div class="input-container">
                <input type="text" id="name-input" placeholder="Message Gemini..." autocomplete="off">
            </div>
            <p>Google Gemini API</p>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>